.hidden {
  visibility: hidden;
  /*display: none;*/
}

body {
  background-color: #eee;
}

.showContainer {
  outline: 1px solid #aaa;
  width: 350px;
  height: 130px;
  background-color: #fff;
  float: left;
  margin: 5px;
}

.showContainer img {
  float: left;
  margin: 10px;
}

.showContainer ul {
  list-style-type: none;
  margin-bottom: 0;
}

.showContainer button {
  float: right;
  margin: 10px;
}

#addShow label {
  width: 100px;
  margin-right: 10px;
  text-align: right;
  line-height: 25px;
}

#addShow label, #addShow input {
  display: block;
  margin-bottom: 10px;
  float: left;
}

#addShow label[for="title"], #addShow label[for="releaseDate"] {
    clear: both;
}

#addShow button {
  display: block;
  margin: 5px 20px 10px 10px;
  float: right;
  clear: both;
}

#addShow div {
  width: 550px;
}

#addShow div:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  font-size: 0;
  line-height: 0;
}
